
@using CovidMvc.Models;

@model CovidMvc.Models.USCovidEntities;

@using (Html.BeginForm("AllUS", "Covid", FormMethod.Post))
{
    <div class="form-horizontal">
        <h2>US Covid Infections</h2>
        <hr />
        @if (@Model.USCovid != null && @Model.USCovid.Count > 0)
        {
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.StartDate, new { @class = "date-picker" })
            @Html.ValidationMessageFor(model => model.StartDate)

            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "date-picker" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            <input type="submit" value="Submit" class="btn-default" />
        }
    </div>
}



<table class="table sortable">
    <thead>
        <tr style="text-align: center; background-color: black; color: lightskyblue;">
            <th>
                @Html.DisplayNameFor(model => model.USCovid[0].DTDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USCovid[0].Death)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USCovid[0].Hospitalized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USCovid[0].InICUCurrently)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USCovid[0].OnVentilatorCurrently)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USCovid[0].Positive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USCovid[0].Recovered)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.USCovid)
        {
        <tr style="color:midnightblue; text-align: center; ">
            <td>
                @Html.DisplayFor(modelItem => item.DTDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Death)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospitalized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InICUCurrently)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnVentilatorCurrently)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recovered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recovered)
            </td>
        </tr>
        }
    </tbody>
</table>
