@model IEnumerable<CovidMvc.Models.USCovidModel>

<table class="table">
    <thead>
        <tr style="text-align: center; background-color: black; color: lightskyblue;">
            <th>
                @Html.DisplayNameFor(model => model.DTDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.States)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Death)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalizedCumulative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InICUCumulative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnVentilatorCumulative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recovered)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="color:midnightblue; text-align: center;">
            <td>
                @Html.DisplayFor(modelItem => item.DTDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.States)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Death)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalizedCumulative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InICUCumulative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnVentilatorCumulative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recovered)
            </td>
        </tr>
        }
    </tbody>
</table>
